<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayr.mabibloteque">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaBibloteque">
        <activity android:name=".UImain.CurrentBookRead"></activity>
        <activity android:name=".UImain.About" />
        <activity android:name=".UImain.FavouriteBooks" />
        <activity android:name=".UImain.BookWishList" />
        <activity android:name=".UImain.AlreadyReadBooks" />
        <activity android:name=".UImain.BookAcitivity" />
        <activity android:name=".UImain.MyBooks" />
        <activity android:name=".UImain.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>